<div class="form">
  <%= form_for @round, url: user_workout_exercise_rounds_path, remote: true do |f| %>
    <h4>Add Set</h4>
    <div class="input_label_pair">
      <%= f.label :reps, "Number of Reps: " %>
      <%= f.text_field :reps %>
    </div>
    <div class="input_label_pair">
      <%= f.label :weight, "Weight Used:" %>
      <%= f.text_field :weight %>
    </div>
    <div class="input_label_pair">
      <%= f.submit 'Submit', :class => "button edit_button" %>
    </div>

  <% end %>
</div>