<div class="form">
  <%= form_for @user do |f| %>
    <h2>Sign Up</h2>
    <div class="input_label_pair">
        <%= f.label :name, "Username: " %>
        <%= f.text_field :name %>
    </div>
    <div class="input_label_pair">
        <%= f.label :email, "Email: " %>
        <%= f.text_field :email %>
    </div>
    <div class="input_label_pair">
        <%= f.label :password, "Password: " %>
        <%= f.password_field :password %>
    </div>

    <div class="input_label_pair">
        <%= f.label :password_confirmation, "Confirm Password: " %>
        <%= f.password_field :password_confirmation %>
    </div>

    <div class="input_label_pair">
        <%= f.submit 'Sign Up' %>
    </div>

  <% end %>

  <p>or</p>
  <%= link_to "Already a User? Sign In", signin_path, remote: true %>
</div>s