<h1><%= @user.name %></h1>
<p>email: <%= @user.email %></p>

<% @user.workouts.each do |workout| %>
  <p>You completed <%= workout.name %> workout on <%= workout.date %></p>
<% end %>
<p><%= link_to "Add New Workout", new_user_workout_path(user_id: @user.id) %></p>

<h4>Calender</h4>
