<div id="user_info">
  <div id="user_image"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAKtAAAAJGRlNTY2OGUxLTRkOWYtNDQ4Ny1hN2I4LTM0NzhhMTYyOGQyNQ.jpg" alt="" id="user_pic">
  </div>
  <div id="user_about">
    <h1><%= @user.name %></h1>
    <%= "Streak: #{@streak}" %>
  </div>
  <div id="this_week">
    <h4>Past Week:</h4>

    <% @recent_workouts.each do |workout| %>
      <p><%= "Completed #{workout.name} workout #{time_ago_in_words(workout.created_at)} ago" %></p>
    <% end %>
    <!-- <p><%= link_to "Add New Workout", new_user_workout_path(user_id: @user.id) %></p> -->
    <p><%= link_to_modal "Add New Workout", "#demo-form", :class=>"button" %></p>

  </div>
</div>



<div id="calendar_wrapper">
  <div id="calendar_header">
    <h2 id="month">
      <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m"), :method => "get" %>
      <%=h @date.strftime("%B %Y") %>
      <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m"), :method => "get" %>
    </h2>
  </div>

  <div id="calendar">
  <%= calendar_for @user.workouts, :year => @date.year, :month => @date.month, id: "main_cal" do |t| %>
    <%= t.head( 'sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat') %>
    <%= t.day do |day, workouts| %>
      <%= day.day %>
        <ul>
          <% for workout in workouts %>
            <div class="cal_workout <%= workout.name.downcase %>">
              <li><%= link_to_modal workout.name, show_workout_path(workout) %></li>
            </div>
          <% end %>
        </ul>
    <% end %>
  <% end %>

  </div>
</div>

<div id="demo-form" class="demo-description" style="display: none; ">
  <%= render 'workouts/new', locales: {user: @user} %>
  <br>
  <%= button_to "Finished", user_path(@user), :method => "get", class: "non-form-button" %>
</div>
