<div id="user_info">
  <div id="user_about">
    <div class="box_header"><h2>Profile</h2></div>

    <div class="div_sub_head"><%= @user.name %></div>
    <table id="relationships">
      <tr>
        <th>Following</th>
        <th>Followers</th>
      </tr>
      <tr>
        <td><%= @user.following.count %></td>
        <td><%= @user.followers.count %></td>
      </tr>
    </table>
    <div class="div_sub_head">Stats</div>
    <%= table_for @stats, :html => { :class => 'stats'} do |t| %>
      <%= t.body do |x, stat| %>
        <%= t.r do %>
          <%= t.d(x) %>
          <%= t.d(stat) %>

        <% end %>
      <% end %>
    <% end %>
    <p><%= link_to_modal "Add New Workout", "#demo-form", :class=>"button" %></p>

  </div>
</div>



<div id="calendar_wrapper">
  <div class="box_header">
    <h2 id="month">
      <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m"), :method => "get" %>
      <%=h @date.strftime("%B %Y") %>
      <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m"), :method => "get" %>
    </h2>
  </div>

  <div id="calendar">
  <%= calendar_for @user.workouts, :year => @date.year, :month => @date.month, id: "main_cal" do |t| %>
    <%= t.head( 'sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat') %>
    <%= t.day do |day, workouts| %>
      <%= day.day %>
        <ul>
          <% for workout in workouts %>
            <div class="cal_workout <%= workout.name.downcase %>">
              <li><%= link_to_modal workout.name, show_workout_path(workout) %></li>
            </div>
          <% end %>
        </ul>
    <% end %>
  <% end %>

  </div>
</div>

<div id="demo-form" class="demo-description" style="display: none; ">
  <%= render 'workouts/new', locales: {user: @user} %>
  <br>
  <%= button_to "Finished", user_path(@user), :method => "get", class: "non-form-button" %>
</div>
