<div id="stats_page">
  <div class="content">
    <div id="workout_header">
      <h1>Followed by <%= @user.name %></h1>
    </div>


      <div id="feed">
        <div id="page_head"></div>


          <% @feed_list.each do |w|  %>
            <div class="feed_content">

              <div class="feed_user_name">
                <h5>
                  <span>user:</span>
                  <span><%= link_to w.user.name.capitalize, user_path(w.user) %></span> <br>
                  <span><%= "#{time_ago_in_words(w.date)} ago" %></span>
                </h5>
              </div>

              <div class="feed_w_name">
                <h4 class ="feed_head">
                  <span class="test">Workout:</span>
                  <%= link_to w.name, user_workout_path(w.user, w) %>
                </h4>

                <div class="feed_ind_content">
                  Exercises:
                   <ol>
                 <% w.exercises.reverse.each do |e| %>
                   <li><%= "#{e.name}(#{e.rounds.count}) " %></li>
                  <% end %>
                  </ol>
                  Notes:

                  <br>
                </div>
              </div>

            </div>
        <% end %>



      </div>
  </div>
</div>