<%= form_for @exercise, url: user_workout_exercise_path(@exercise.workout.user, @exercise.workout, @exercise), remote: true do |f| %>
  <div class="ex_title"> <%= f.text_field :name %></div>
  <%= f.fields_for :rounds do |ff| %>
    <div class="input_label_pair">
      <%= ff.text_field :reps %>
      <%= ff.text_field :weight %>
    </div>
  <% end %>

  <%= f.submit 'Submit' %>

<% end %>
