<%= table_for(exercise.rounds, :html => { :class => 'sets_table', :id => "#{exercise.name.split.join}"}) do |t| %>
  <%= t.head do %>
    <%= t.r do %>
      <th colspan="3" class="ex_title"><%= link_to exercise.name, chart_exercise_path(exercise), remote: true %>
        <span>
          <%= link_to "EDIT", edit_user_workout_exercise_path(exercise.workout.user, exercise.workout, exercise), class: "edit_link", remote: true %>
        </span>
        <span>
          <%= link_to "DELETE", user_workout_exercise_path(exercise.workout.user, exercise.workout, exercise), method: :delete, data: {confirm: 'Are you sure?'}, remote: true %>
        </span>
      </th>
    <% end %>
    <%= t.r do %>
      <%= t.h('Set') %>
      <%= t.h('Reps') %>
      <%= t.h('Weight') %>
    <% end %>
  <% end %>
  <% x = 1 %>
  <%= t.body do |round| %>
    <%= t.r do %>
      <%= t.d("Set #{x}") %>
      <%= t.d(round.reps) %>
      <%= t.d(round.weight) %>
      <% x +=1 %>
    <% end %>
  <% end %>
  <th colspan="3"><%= link_to "Add Sets", new_user_workout_exercise_round_path(exercise.workout.user, exercise.workout, exercise), remote: true %></th>
<% end %>



